{% extends "crud_app/base.html" %}
{% block title %}
Form
{% endblock title %}
{% block content %}
<h2 class="fw-bold text-center">Add student information. </h2>
<!-- form section starts -->
 <div class="container">
    <div class="row">
        <div class="col-10 alert alert-info mx-10">
            <form method="POST" enctype="multipart/form-data" action="{% url 'form' %}">
                {% csrf_token %}
                <div id="messagee">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                {% endfor %}
                {% endif %}
                </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Age</label>
    <input type="number" name="age" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Profile Image</label>
    <input type="file" name="profile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Profile Video</label>
    <input type="file" name="profile_video" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="form-floating">
  <textarea class="form-control" name="message" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
  
  <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>
        </div>
    </div>
 </div>
<script>
  setTimeout(function(){
    const messagee=document.getElementById('messagee')
    if(messagee){
          messagee.style.display='none'
    }
  },5000)
</script>
 <!-- form section ends -->
{% endblock content %}